{% extends 'base.html' %}

{% block page_title_text %}{{ form_title }}{% endblock %}
{% block page_title %}{{ form_title }}{% endblock %}
{% block breadcrumb_items %}<li class="breadcrumb-item"><a href="{% url cancel_url_name %}">Gerenciar</a></li><li class="breadcrumb-item active">{{ form_title }}</li>{% endblock %}

{% block content %}
<div class="container-fluid management-shell">
    <form method="post" class="management-card management-form" novalidate>
        {% csrf_token %}
        {% include 'management/_form_errors.html' %}
        <div class="form-section">
            <h2>{{ section_title }}</h2>
            <div class="row g-3">
                {% for field in form %}
                    {% include 'management/_field.html' with field=field column='col-12' %}
                {% endfor %}
            </div>
        </div>
        <footer class="form-actions">
            <a class="btn btn-light" href="{% url cancel_url_name %}">Cancelar</a>
            <button class="btn btn-outline-primary" type="submit"><i class="bi bi-check-lg"></i> {{ submit_label }}</button>
        </footer>
    </form>
</div>
{% endblock %}
