{% extends 'adminlte/page.html' %}

{% load static %}
    <button id="theme-toggle" class="btn btn-link"> <i class="bi bi-moon-fill"></i></button>
{% block title %}{% block page_title_text %}SPI{% endblock %} |Sistema de Pedidos Internos{% endblock %}

{% block extra_css %}
<!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{% static 'css/light.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block page_css %}{% endblock %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Início</a></li>
    {% block breadcrumb_items %}{% endblock %}
{% endblock %}

{% block content %}{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/theme.js' %}"></script>
    {% block page_js %}{% endblock %}
{% endblock %}
